.container {
    max-width: 1440px;
    width: 100%;
    margin: auto;
}

/* Header */
header {
    display: flex;
    justify-content: space-around;
    height: 50px;
    align-items: center;
    padding-inline: 130px;
    padding-bottom: 6px;

}

.burger {
    width: 32px;
    height: 32px;
    display: none;
}

.nav_div {
    display: flex;
    column-gap: 40px;
    align-items: center;
}

.header_div {
    display: flex;
    align-items: center;
    column-gap: 14px;
}

.header_text {
    color: #FA793C;
    font-family: Pridi;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.userlogo {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
}

.header_ul {
    display: flex;
    column-gap: 32px;
}

.header_nav_text {
    color: #000;
    font-family: ABeeZee;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}


/* Section1 */
.section1 {
    background-image: url(../images/section1_img.png);
    height: 550px;
    background-size: cover;
    /* background-position: center; */
    background-repeat: no-repeat;
    position: relative;
}

.section1_text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 185px 130px 186px;
    width: 1180px;

}

.section1_title1 {
    color: #FFF;
    font-family: Kanit;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: 75px;
    text-align: center;
    margin-bottom: 20px;
}

.section1_title2 {
    color: #FFF;
    font-family: Kanit;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}

/* Section2 */
.section2 {
    padding: 130px;
}

.section2_title {
    color: #000;
    font-family: Kanit;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 35px;
}

.section2_article {
    display: flex;
    column-gap: 22px;

}

.section2_article_styles {
    border: 1px solid #000;

}

.section2_figcaption {
    margin: 16px 16px 0;
}

.section2_imgs {
    width: 100%;
    height: 189px;
    object-fit: cover;
}

.section2_title2 {
    color: #000;
    font-family: Kanit;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;

}

.section2_text {
    color: #000;
    font-family: Kanit;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.time {
    display: flex;
    align-items: center;
    column-gap: 11px;
    margin: 16px;
}

.section2_text2 {
    color: #000;
    font-family: Kanit;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* Section3 */
/* .section3{
    padding-inline: 130px;
    padding-bottom: 130px;
  

}
.section3_container{
    display: flex;
    column-gap: 20px;
    align-items: center;
}

.section3_img_cont1{
    width: 780px;
    height: 400px;
}
.section3_img1{
    width: 100%;
    height: 100%;
    position: relative;
} */

/* .section3{
    height: 479px;
    background-repeat: no-repeat;
    background-image: url(../images/section3_img1.png);
    background-image: url(../images/section3_img2.png);
    background-image: url(../images/section3_img3.png);
    position: absolute;
} */
footer {
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 31px;
}

.footer_title {
    color: #FFF;
    font-family: Pridi;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}